{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>LeetCode Dashboard</title>
{% endblock title %} 

{% block content %}
  <div class="my-container">
    {% include 'problems_list/topbar.html' %}
    <div class="row">
      <div class="col-sm-2 sidebar">
        <ul>
          <li>
            {% csrf_token %}
            <form method="GET" 
              action="search" 
              autocomplete="off" 
              style="display: flex; justify-content: space-around;">

              <input name="q" id="q"
                class="form-control" 
                type="search" 
                placeholder="Search..." 
                aria-label="Search"
              />
              <button type="submit" class="submit-btn">&#x1F50E;&#xFE0E;</button>
            </form>
          </li>
          {% include 'problems_list/sidebar.html' %}
        </ul>
      </div>

      <div class="col-sm-7 problems-list" >
        <section class="problems-count">
            Total {{ problems_count }} problems
        </section>
        
        <table>
          <tr>
            <th>Problem</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>Solution Note</th>
            <th>Source Code</th>
          </tr>
          {% for problem in problems %}
            <tr>
              <td>
                <a href="{{ problem.link }}" target="blank" rel="noopener noreferrer">
                  {{ problem.name }}
                </a>
              </td>
              <td class="problem-topic">
                {{ problem.topic }}
              </td>
              <td class="{{ problem.difficulty }}">
                {{ problem.difficulty }}
              </td>
              <td>
                <a class="problem-note" href="{% url 'problems_list:note' problem.id %}">
                  Note
                </a>
              </td>
              <td>
                {% if problem.source_code %}
                  <a class="problem-code" href="{{ problem.source_code.url }}">
                    Python
                  </a>
                {% else %}
                  no file
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="space"></div>
        {% include  'problems_list/paginator.html'%}
      </div>
      
      <div class="col-sm-3 sidebar">
        {% include 'problems_list/chart.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
