{% extends 'base.html' %} 
{% load static %} 
{% load problems_list_extras %} 

{%block link %}
  <!-- Need this for code highlighting -->
  <link rel="stylesheet" href="{% static 'css/default.css' %}" />
{% endblock link %} 

{% block title %}
  <title>{{ problem.name }}</title>
{% endblock title %} 

{% block content %} 
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        {{ problem.note|convert_markdown|safe }}
      </div>
      
      <div class="col-sm-2">
        <a href="{% url 'problems_list:home' %}" 
          class="to-home">
          Back to home
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
