{% extends 'base.html' %} 
{% load static %} 
{% load problems_list_extras %} 

{% block link %}
  <!-- Need this for code highlighting -->
  <link rel="stylesheet" href="{% static 'css/default.css' %}" />
{% endblock link %} 

{% block title %}
  <title>{{ problem.name }}</title>
{% endblock title %} 

{% block content %} 
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {{ problem.note|convert_markdown|safe }}
      </div>

      <div class="col-sm-4 back-to-home">
        <a href="{% url 'problems_list:home' %}">&larr; Back to dashboard</a>
      </div>
    </div>
  </div>
{% endblock content %}
