html, body {
  height: 100%;
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
}

.my-container {
  padding: 20px;
}

.container { padding-top: 50px; }

.submit-btn {
  margin-left: 5px;
  border: 1px solid #dbdbdb;
  background: none;
  font-size: 25px;
  border-radius: 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th { font-size: 18px; }
td, th {
  border: 1px solid #dbdbdb;
  text-align: left;
  padding: 10px;
}

/* set different color based on difficulty  */
.Easy {color: green;}
.Medium {color: orange;}
.Hard {color: red;}

a {
  text-decoration: none;
  color: inherit;
}
a :visited { color: inherit; }

.problem-note {
  color: #ffffff;
  background-color: #5f5f5f;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  letter-spacing: 1px;
}

.problem-code {
  color: #FFD43B;
  background-color:  #306998;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  letter-spacing: 1px;
}

li { 
  list-style-type: none; 
  padding-bottom: 10px;
  margin: 0;
}

.home-button {
  font-size: 40px;
  font-weight: bold;
  color: #306998;
}

.problems-count {
  color: #306998;
  padding-bottom: 10px;
}

.nav-item { color: #306998; }

.to-home { 
  background-color: #306998; 
  color: #ffffff;
  padding: 7px;
}

.text-center {text-align: center;}

.space {
  margin-top: 30px;
}
